<ul class="nav sidebar-menu">
   <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-shopping-cart"></i>
            <span class="menu-text">商品管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="{:url('goods/lst')}">
                    <span class="menu-text">商品列表</span>
                </a>
            </li> 
            <li>
                <a href="{:url('goods/add')}">
                    <span class="menu-text">添加商品</span>
                </a>
            </li>
            <li>
                <a href="{:url('brand/lst')}">
                    <span class="menu-text">商品品牌</span>
                </a>
            </li>
            <li>
                <a href="{:url('category/lst')}">
                    <span class="menu-text">商品分类</span>
                </a>
            </li> 
            <li>
                <a href="{:url('type/lst')}">
                    <span class="menu-text">商品类型</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">商品回收站</span>
                </a>
            </li>                           
        </ul>                            
    </li>  
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-tags"></i>
            <span class="menu-text">促销管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">团购活动</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">积分商城</span>
                </a>
            </li>
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">优惠券</span>
                </a>
            </li>                      
        </ul>                            
    </li>  
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-file-text-o"></i>
            <span class="menu-text">订单管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">订单列表</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">订单查询</span>
                </a>
            </li>                   
        </ul>                            
    </li>   
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-clipboard"></i>
            <span class="menu-text">文章模块</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="{:url('cate/lst')}">
                    <span class="menu-text">文章分类</span>
                </a>
            </li>  
            <li>
                <a href="{:url('article/lst')}">
                    <span class="menu-text">文章管理</span>
                </a>
            </li>                             
        </ul>                            
    </li>  
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-chain"></i>
            <span class="menu-text">友情链接</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">            
            <li>
                <a href="{:url('link/lst')}">
                    <span class="menu-text">链接管理</span>
                </a>
            </li>                             
        </ul>                            
    </li>  
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text">图片管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="{:url('article/imglist')}">
                    <span class="menu-text">图片列表</span>
                </a>
            </li>                           
        </ul>                            
    </li>  
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text">会员管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">会员列表</span>
                </a>
            </li> 
            <li>
                <a href="{:url('memberlevel/lst')}">
                    <span class="menu-text">会员级别</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">会员查询</span>
                </a>
            </li>                  
        </ul>                            
    </li> 
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-envelope"></i>
            <span class="menu-text">短息管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">发送短信</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">短信签名</span>
                </a>
            </li>                   
        </ul>                            
    </li>   
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-gears"></i>
            <span class="menu-text">权限管理</span>
        </a>                      
    </li> 
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-gear"></i>
            <span class="menu-text">系统设置</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="{:url('config/lst')}">
                    <span class="menu-text">配置项</span>
                </a>
            </li> 
            <li>
                <a href="{:url('config/configlist')}">
                    <span class="menu-text">配置管理</span>
                </a>
            </li> 
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">支付方式设置</span>
                </a>
            </li>                  
        </ul>                            
    </li> 
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text">数据库管理</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/admin/document/index.html">
                    <span class="menu-text">数据备份</span>
                </a>
            </li>               
        </ul>                            
    </li>                 
</ul>